<span class="border">
  <div class="jumbotron bg-dark text-white">
    <h1>Welcome to your dashboard!</h1>
    <p>Plop down in the middle where everybody walks jump on human and sleep on her all night long be long in the bed, purr in the morning and then give a bite to every human around</p>
    <a class="btn btn-primary btn-lg" href="/about" role="button">Learn more</a>
  </div>
</span>

<div id='page'>
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <div class='tile'>
          <h2>Photo of the Day</h2>
          <img class="img-fluid" id='photo-of-day' src='https://i.pinimg.com/originals/ac/26/f1/ac26f17c9134fa4a1039665fb556eb29.jpg'/>
        </div>
      </div>
      <div class="col-xs-4 ml-auto">
        <div class="row">
          <div class="col-xs-12">
            <div class='tile' id='treats-of-month'>
              <h2>Treats of the Month</h2>
              <ol>
                <li>Pupcakes</li>
                <li>Biscuits</li>
                <li>Mom's Socks</li>
              </ol>
            </div>
          </div>
        </div>
        <div class="row">
          <div class='tile'>
            <h2>Trending Sites</h2>
            <ul class="list-group">
              <li class="list-group-item bg-secondary text-white">Tips and Tricks</li>
                <ul class="list-group">
                  <li class="list-group-item">
                    <a href="http://www.dogster.com/">Dogster</a>
                  </li>
                  <li class="list-group-item">
                    <a href="http://dogtime.com/">Dogtime</a>
                  </li>
                </ul>
              <li class="list-group-item bg-secondary text-white">Travel Guides</li>
                <ul class="list-group">
                  <li class="list-group-item"> <a href="http://dogfriendly.com/">DogFriendly</a></li>
                </ul>
              <li class="list-group-item bg-secondary text-white">Just for Fun</li>
                <ul class="list-group">
                  <li class="list-group-item">
                    <a href="https://www.thedodo.com/">The Dodo</a>
                  </li>
                  <li class="list-group-item"><a href="https://barkbox.com/">Bark Box</a></li>
                </ul>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br/>
  <div class="card text-center">
    <div class="card-header bg-danger text-white">
      <h2><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Cat Watch <i class="fa fa-exclamation-triangle" aria-hidden="true"></i></h2>
    </div>
    <div class="card-body">
      <div class='tile'>
        <p> There are currently 3 cats within a 200 ft radius</p>
      </div>
    </div>
  </div>
  <br/>
  <br/>

</div>
