<!DOCTYPE html>
<html>
  <head>
    <title>Doggy Dash</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header id="header">
      <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/">
          <i class="fa fa-paw" width="30" height="30" class="d-inline-block align-top" alt=""></i>
          Doggy Dash
        </a>
        <span class="navbar-text">
          A place for paws
        </span>
      </nav>
    </header>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
