<!DOCTYPE html>
<html>
  <head>
    <title>Doggy Dash</title>
    <%= csrf_meta_tags %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster+Two" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Patua+One" rel="stylesheet">
  </head>

  <body>
    <header id="header">
      <h1>Doggy Dash</h1>
      <p>A place for paws</p>
    </header>
    <%= yield %>
  </body>
</html>
