<!DOCTYPE html>
<html>
  <head>
    <title>Doggy Dash</title>
    <%= csrf_meta_tags %>
    <script src="https://use.fontawesome.com/de14806e8a.js"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <h1><i class="fa fa-paw" aria-hidden="true"></i> Doggy Dash </h1>
        </a>


          <div class="navbar-item">A place for paws</div>


    </nav>
    <%= yield %>
  </body>
</html>
