<!DOCTYPE html>
<html>
  <head>
    <title>Doggy Dash</title>
    <%= csrf_meta_tags %>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <script src="https://use.fontawesome.com/de14806e8a.js"></script>
  </head>

  <body>
    <nav>
      <div class="nav-wrapper">
        <div class="padded2x">
        <a href="/" class="brand-logo"><i class="fa fa-paw"></i>Doggy Dash</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li>A place for paws</li>

        </ul>
        </div>
      </div>
    </nav>
    <div class="container">

    <%= yield %>
  </div class="container">
  </body>
</html>
